<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>

    <%- include('partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis quaerat consectetur consequatur odit voluptatem! Libero, tenetur. Atque quis molestiae ut? Praesentium, incidunt. Architecto sunt voluptatem vitae atque dolor suscipit doloribus temporibus id magni. Deleniti ipsam incidunt, porro hic repudiandae explicabo dolorum reprehenderit veritatis voluptas nesciunt itaque rem. Iste ut ratione aspernatur unde earum repellendus fuga excepturi, accusantium quibusdam sunt tenetur, alias, et omnis error enim nulla officia libero rerum voluptatum in tempora! Rem tempora eos praesentium possimus et blanditiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis quaerat consectetur consequatur odit voluptatem! Libero, tenetur. Atque quis molestiae ut? Praesentium, incidunt. Architecto sunt voluptatem vitae atque dolor suscipit doloribus temporibus id magni. Deleniti ipsam incidunt, porro hic repudiandae explicabo dolorum reprehenderit veritatis voluptas nesciunt itaque rem. Iste ut ratione aspernatur unde earum repellendus fuga excepturi, accusantium quibusdam sunt tenetur, alias, et omnis error enim nulla officia libero rerum voluptatum in tempora! Rem tempora eos praesentium possimus et blanditiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis quaerat consectetur consequatur odit voluptatem! Libero, tenetur. Atque quis molestiae ut? Praesentium, incidunt. Architecto sunt voluptatem vitae atque dolor suscipit doloribus temporibus id magni. Deleniti ipsam incidunt, porro hic repudiandae explicabo dolorum reprehenderit veritatis voluptas nesciunt itaque rem. Iste ut ratione aspernatur unde earum repellendus fuga excepturi, accusantium quibusdam sunt tenetur, alias, et omnis error enim nulla officia libero rerum voluptatum in tempora! Rem tempora eos praesentium possimus et blanditiis.</p>
        
    </div>
</body>
</html>